/* Background pattern from Toptal Subtle Patterns */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-image: url("img/symphony.png");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
